body{
background:rgba(222,222,222,255);
margin:0;
}
    @font-face{
font-family:Songticu;
src:url(Songticu.ttf)
}
    @font-face{
font-family:Songti;
src:url(Songti.ttf)
}
.one{
    font-size:57px;
    text-align:center;
    font-family:Songticu;
color:black;
text-shadow:3px 3px rgba(245,245,245,255);
}
.one i{
    font-size:30px;
    color:#a6a6a6;
}
.aa{
    width:900px;
    height:auto;
background:white;
color:#495a80;
text-shadow:3px 3px rgba(245,245,245,255);
    margin:30px auto;
    margin-bottom:40px;
    border-radius:10px;
box-shadow:1px 1px 20px #34352c;
overflow:auto;
}
.ab{
    font-size:43px;
    margin-left:10px;
font-family:Songti;
}
#abc{font-family:Songticu;}
.ab p{
    margin-top:0px;
    margin-bottom:0px;
    font-size:20px;
}
.ab a{
    font-size:15px;
    color:green;
    text-decoration:none;
}
